$primary: #c6539c;

.team-blog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .article {
    a {
      text-decoration: none;
      h6.title {
        padding: 0 0 0 50px;
        margin: 5px 0 15px 0px;
        font-size: 15px;
        text-align: left;

        &:hover {
          color: $primary;
        }
      }
    }

    img {
      width: 100%;
      margin-bottom: 10px;
    }

    div.date {
      font-style: italic;
      text-align: right;
      font-size: 10px;
    }

    .author {
      float: left;
      img {
        margin-right: 10px;
        width: 30px;
      }
    }
  }

  .blog {
    width: 100%;
    text-align: right;
  }
}
