.progress {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  .item {
    text-align: center;
    width: 30%;
    span {
      font-size: 11px;
    }
  }
}

.el-table {
  .success-row {
    background: #e1f3d8;
  }
}

pre {
  margin-top: 0px;
  height: 100%;
  background: #f4f4f5;
}
