@import '../../styles/app';

.attachements {
  h6 {
    text-decoration: underline;
    color: green;
  }

  pre.text {
    white-space: normal;
    word-wrap: break-word;
  }

  pre.json {
    white-space: pre;
    word-wrap: break-word;
  }

  .media {

    width: 95%
  }
}
