@import '../../styles/app';

.steps {

  .additional-info { 
    width: inherit;
    margin: 0 10px 0 20px;

    &.error h6{
      text-decoration: underline;
      color: red;
    }

  }

  span.info {
    padding-left: 20px;
    margin-top: -7px;
    cursor: pointer;
  }

  span.error {
    cursor: pointer;
  }

}
