h1 {
  font-size: 40px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.content ::v-deep(){
 h1 {
  font-size: 30px;
 }

 h2 {
   font-size: 25px;
 }
 
 h3 {
   font-size: 20px;
 }
 
 h4 {
   font-size: 15px;
 }

 img {
   margin: auto 10%;
   width: 80%;
 }

 blockquote {
   border-left-width: 0;
   border-left: 2px solid #dadde1 ;
   box-shadow: none;
   color: #444950;
   font-size: 100%;
   padding: 0 1rem;
   margin-left: 0;
 }

 table {
  	margin:20px;
  	border:#ccc 1px solid;
  
  	-moz-border-radius:3px;
  	-webkit-border-radius:3px;
  	border-radius:3px;
  
    th {
    	padding:21px 25px 22px 25px;
    	border-top:1px solid #fafafa;
    	border-bottom:1px solid #e0e0e0;
	    border-left: 1px solid #e0e0e0;

      &:first-child {
    	  text-align: left;
    	  padding-left:20px;
	      border-left: 0px solid #e0e0e0;
      }
    }

    tr {
      text-align: center;
      padding-left:20px;

      &:last-child td {
      	border-bottom:0;
        &:first-child {
        	-moz-border-radius-bottomleft:3px;
        	-webkit-border-bottom-left-radius:3px;
        	border-bottom-left-radius:3px;
        }
        &:last-child {
        	-moz-border-radius-bottomright:3px;
        	-webkit-border-bottom-right-radius:3px;
        	border-bottom-right-radius:3px;
        }
      }

      &:hover td {
      	background: #f2f2f2;
      	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
      	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
      }
    }

    td {
	    padding:18px;
	    border-top: 1px solid #ffffff;
	    border-bottom:1px solid #e0e0e0;
	    border-left: 1px solid #e0e0e0;
	    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);

      &:first-child{
	      text-align: left;
	      padding-left:20px;
	      border-left: 0;
      }

    }
  }

  code:not(pre code){
    background-color: #f6f7f8;
    border: 0.1rem solid rgba(0,0,0,.1);
    border-radius: 0.4rem;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 95%;
    padding: 0.1rem;
  }
}

