@import '@/assets/scss/vuexy/_variables.scss';

.team-video{

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .video {
    width: 100%;
    h6.title {
      margin-bottom: 10px;
      &:hover {
        color: $primary;
      }
    }

    img {
      width: 100%;
      margin-bottom: 10px;
    }

    div.date {
      font-style: italic;
      text-align: right;
      font-size: 10px;
    }
  }

  .channel {
    width: 100%;
    text-align: center;
  }
}

