.team-note{

  display: flex;
  flex-direction: row;
  align-items: flex-start;


  .quote {
    padding-left: 15px; 

    .message {
      font-style: italic;
    }

    .from {
      clear: left;
      float: right;
      font-size: 11px;
    }
  }
}

