name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    types: [assigned, opened, synchronize, reopened]

jobs:
  build-Dashboard:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm run dashboard:install
      env:
        CI: true
    - run: npm run dashboard:lint
    - run: npm run dashboard:test
      env:
        CI: true

  build-unix:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm run dashboard:install
    - run: npm install
      env:
        CI: true
    - run: npm run build
    - run: npm run lint
    - run: npm test
    - run: npm run test:functional

  build-windows:
    runs-on: windows-latest
    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
#    - run: npm install -g bats
    - run: npm run dashboard:install
    - run: npm install
      env:
        CI: true
    - run: del .\dashboard\browserslist* # small hack... https://github.com/angular/angular-cli/issues/3938#issuecomment-387399080
    - run: npm run build
    - run: npm test
#   - run: npm run test:functional
#     shell: bash
