name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    types: [assigned, opened, synchronize, reopened]

jobs:
  build-unix:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x, 18.x]
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm i -g pnpm
    - run: pnpm i
    - run: npm run build
    - run: npm run lint
    - run: npm run format
    - run: pnpm i
    - run: npm test
      env:
        BOOT_TIMEOUT: 60000
        DEBUG: testcontainers*
        CI: true
    - run: npm run test:functional
    - run: npm run example
    - name: Archive code coverage results
      uses: actions/upload-artifact@v3
      with:
        name: restqa-test-report-unix-${{ matrix.node-version }}
        path: examples/nodejs/restqa

  build-windows:
    runs-on: windows-latest
    strategy:
      matrix:
        node-version: [16.x, 18.x]
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm i -g pnpm
    - run: npm i -g pnpm
    - run: pnpm i
    - run: npm run build
    - run: npm run lint
    - run: npm run format
    - run: pnpm i
#   - run: npm test
#     env:
#       DEBUG: testcontainers*
#       BOOT_TIMEOUT: 60000
#       CI: true
    - run: npm run example
    - name: Archive code coverage results
      uses: actions/upload-artifact@v3
      with:
        name: restqa-test-report-windows-${{ matrix.node-version }}
        path: examples/nodejs/restqa
