name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    types: [assigned, opened, synchronize, reopened]

jobs:
  build-unix:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x, 18.x]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm i -g pnpm
    - run: pnpm i
      env:
        CI: true
    - run: npm run build
    - run: npm run lint
    - run: npm run format
    - run: npm test
      env:
        DEBUG: testcontainers*
        CI: true
    - run: npm run test:functional

  build-windows:
    runs-on: windows-latest
    strategy:
      matrix:
        node-version: [16.x, 18.x]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm i -g pnpm
    - run: pnpm i
    - run: npm run build
    - run: npm run lint
    - run: npm run format
    - run: npm test
      env:
        DEBUG: testcontainers*
        BOOT_TIMEOUT: 60000
        CI: true
